*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero-container{
    background:url(accets/car.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}
